:root {
    --color-01:#FFD15B;
    --color-02:#7A7A7A;
    --color-03:#000;
    --color-04:#FFF;
}
body {
    padding: 0;
    margin: 0;
}
                            /* Header */
header {
    background: url(hero.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.hero__logo {
    width: 200px;
    height: 25px;
    margin: 60px;
}
header h1 {
    max-width: 680px;
    font-family: Anton;
    margin-top:100px;
    letter-spacing: 1px;
}
.search-recipe {
    margin-bottom: 160px;
}
#search-recipe__input {
    font-family: Manrope;
    height:60px;
    width:66%;
}
.search-recipe__word {
    display: none;
}
.search-recipe--delete {
    display: inline-block;
    position: relative;
    bottom:40px;
    margin-left:62%;
    color: var(--color-02);
}
#search-recipe__icon {
    float: right;
    bottom:56px;
    right:17.75%;
    padding: 10px 14px;
}
                            /* Main */
main {
    padding: 0 90px;
}
/* Filters */
#input-ingredients__chevron-down, #input-ingredients__chevron-up, #input-appliance__chevron-up, #input-appliance__chevron-down, #input-utensils__chevron-down, #input-utensils__chevron-up {
    position: relative;
    right:30px;
    color: var(--color-03);
    font-size: 1rem;
}
#input-ingredients__chevron-down, #input-appliance__chevron-down, #input-utensils__chevron-down {
    display: inline-block;
}
#input-ingredients__chevron-up, #input-appliance__chevron-up, #input-utensils__chevron-up {
    display: none;
}
#input-ingredients::placeholder, #input-appliance::placeholder, #input-utensils::placeholder {
    color: var(--color-03);
    font-family: Manrope;
    font-weight: 500;
    font-size: 1rem;
}
#nb-recipes__paragraph {
    font-family: Anton;
}
#bloc-ingredients, #bloc-appliance, #bloc-utensils {
    display: none;
    bottom:4px;
}
#bloc-ingredients__input, #bloc-appliance__input, #bloc-utensils__input {
    width : 80%;
    margin: 0 10%;
    margin-bottom: 24px;
}
#bloc-ingredients__icon, #bloc-appliance__icon, #bloc-utensils__icon{
    position: absolute;
    top: 2px;
    left: 78%;
    color:var(--color-02);
}
#bloc-ingredients__list > li:hover, #bloc-appliance__list > li:hover, #bloc-utensils__list > li:hover {
    background-color: var(--color-01)
}
li {
    list-style-type: none;
}
.li-filters {
    color: var(--color-03);
    padding: 4px 10%;
}
 #bloc-ingredients__list, #bloc-appliance__list, #bloc-utensils__list  {
    color: var(--color-04);
    padding-left: 0;
    width: 11.5rem;
}
/* Tags */
#list-tags {
    display: grid;
    column-gap: 0;
    padding-top: 240px;

}
.filter-button {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    color: var(--color-03);
    background-color: var(--color-01);
    padding: 8px 12px;
    border-radius: 12px;
    min-width: 120px;
    width: 15%;
}
.filter-button span {
    cursor: pointer;
}
/* Recipes */
.list-recipes--grid, .list-recipes--inline-block {
    column-gap: 3%;
}
.list-recipes--grid {
    display: grid;  
    grid-template-columns: 1fr 1fr 1fr;
}
.list-recipes--inline-block {
    display: inline-block;
}
.list-recipes__container-up {
    position: relative;
    bottom:24px;
}
.list-recipes__container-down {
    padding: 0 16px;
}
.list-recipes__card {
    background-color: var(--color-04);
    border-radius: 20px;
    column-gap: 12px;
    margin: 8px 0;
    color: var(--color-03);
    text-decoration: none;
}
.list-recipes__title {
    font-size: 14px;
    font-family: Anton;
}
.list-recipes__time {
    display: inline;
    position: relative;
    top: 40px;
    left:56%;
    background-color: var(--color-01);
    padding: 6px 16px;
    border-radius: 20px;
    font-family: Manrope;
    font-weight: 400;
    font-size:12px;
}
.list-recipes__ingredients {
    display: grid;
    order: 3; 
}
.ingredient-content > p {
    margin-bottom: 0;
}
.list-recipes__img {
    width: 100%;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
    height: 240px;
}
.list-recipes__description-label, .list-recipes__ingredients-label {
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 700;
    color: var(--color-02);
    margin-bottom: 12px;
}
.list-recipes__description-container {
    font-family: Manrope;
    padding: 12px 0;
}
.ingredient-content {
    font-family: Manrope;
    font-size: 12px;
}
.list-recipes__description {
    font-size: 12px;
    height: 76px;
    overflow:scroll;
}
.ingredient-content__quantity {
    display: flex;
    color: var(--color-02);
}
.list-recipes__ingredients-content {
    display: grid;
    grid-template-columns: 1fr 1fr; 
}
.ingredient-content__name {
    font-weight: 700;
}
.list-form {
    display: grid;
    row-gap: 16px;
}
#container__form {
    width: 56%;
}
/* Media */
@media(min-width:768px) {
    .list-form{
        display: flex;
    }
    #list-tags {
        padding-top: 120px;
        display: flex;
        column-gap: 4%;
    }
    #container__form {
        width: 77%;
    }
    #search-recipe__icon {
        bottom: 57px;
        right:17.5%
    }
    .list-recipes{
        grid-template-columns: 1fr 1fr;
    }
    .list-recipes__time{
        left:68%;
    }
    .search-recipe--delete {
        margin-left:73%;
    }
}
@media(min-width:992px) {
    #list-tags {
        padding-top: 150px;
    }
    #container__form {
        width: 84%;
    }
    .list-recipes__time{
        left:72%;
    }
    .list-recipes{
        grid-template-columns: 1fr 1fr 1fr;
    }
    #search-recipe__icon {
        bottom: 56.75px;
        padding: 9px 14px;
        right:17.25%
    }
    .search-recipe--delete {
        margin-left:76%;
    }
}


