body {
    padding: 0 100px;
    margin: 0;
}
.logo__title {
    color: #D04F4F;
    font-size: 36px;
    font-family: DM Sans;
    font-weight: 700;
}

input {
    background-color: #E7E7E7;
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
}

.search-icon {
    float: right;
    position: relative;
    bottom: 46px;
    right: 10px;
    font-size: 26px;
}

.chevron-down {
    position: relative;
    right:30px;
}

#bloc-food__input, #bloc-food__list {
    background-color: #3282F7;
}

#bloc-machine__input, #bloc-machine__list {
    background-color: #68D9A4;
}

#bloc-utensils__input, #bloc-utensils__list {
    background-color: #ED6454;
}

#bloc-food__input::placeholder, #bloc-machine__input::placeholder, #bloc-utensils__input::placeholder {
    color: #FFF;
    font-family: Lato;
    font-size: 18px;
}

.bloc-food__icon, .bloc-machine__icon, .bloc-utensils__icon {
    color: #FFF;
    font-size: 18px;
}

.list-form {
    display: flex;
    flex-direction: row;
    padding-top: 3rem;
}





#bloc-food__list, #bloc-machine__list, #bloc-utensils__list  {
   
    color: #FFF;
    padding-left: 0;
    width: 11.5rem;
    position: relative;
    bottom: 4px;
}

#bloc-food__list > li:hover {
    background-color: #76AAF9;
}

#bloc-machine__list > li:hover {
    background-color: #9DE7C4;
}

#bloc-utensils__list > li:hover {
    background-color: #F39A90;
}

.list-recipes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
}

.list-recipes__card {
    background-color: #E7E7E7;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 12px;
    margin: 8px 0;
    width: 380px;
    height:186px;
    padding: 16px;
     
}
.list-recipes__title {
    order:1;
    font-size: 13px;
}

.list-recipes__time {
    order:2;
    display: flex;
    column-gap: 8px;
    font-size: 13px;
}


li {
    list-style-type: none;
}

.list-recipes__ingredients {
    display: grid;
    order: 3;
    
}
.list-recipes__description{
    order:4;
    font-size: 9px;
}

.ingredient-content {
    display: flex;
    font-size: 9px;
}

.ingredient-content > p {
    margin-bottom: 0;
}

.filter-button {
    background-color: #3282F7;
    color: #FFF;
    display: inline-block;
}
